<html>
  <head>
    <title><%= @title %></title>
    <link href="/normalize.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <nav>
        <ul>
          <li><a href="#">home</a></li>
          <li><a href="#">comments</a></li>
          <li><a href="#">profile</a></li>
          <li><a href="#">logout</a></li>
        </ul>
    </nav>
   <h1> I'm HERE!!!</h1>


  </body>
</html>
