.container {
  width: 960 px;
  margin: auto;
}

nav ul {
  background-color: #aaa;
  overflow: hidden;
  padding-left: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

nav a {
  display:block;
  width: 120px;
  text-align: center;
  float: left;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px rgba(0,0,0,0,4);
  border-right: 1px solid rgba(0,0,0,0.2);
}

nav a:hover {
  background-color: blue;
  color: green;
  border-radius: 10px;
} 
