<form action ='/' method = "post">
  <input type ="text" name = "posttitle"><br>
  <textarea name = "postcontent"></textarea><br>
  <input type = "submit" value = "press this button">
</form>

<%= @first_message_content if @first_message_content %>