<div class="login">
  <h3>Please log in:</h3>
  <form action="/login" method="get">
    <p>Please enter your username:</p>
    <input type="text" name="username" placeholder="username"></input>
    <br>
    <p>Please enter a password:</p>
    <input type="password" name="password" placeholder="password"></input>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>