<div class="signup">
  <h1>To sign up, please fill out the following:</h1>
  <form action="/signup" method="post">
    <p>Please enter your first name:</p>
    <input type="text" name="first_name" placeholder="your first name"></input>
    <br>
    <p>Please enter your last name:</p>
    <input type="text" name="last_name" placeholder="your last name"></input>
    <br>
    <p>Please enter your email address:</p>
    <input type="text" name="email" placeholder="your email address"></input>
    <br>
    <p>Please enter your username:</p>
    <input type="text" name="username" placeholder="desired username"></input>
    <br>
    <p>Please enter a password:</p>
    <input type="password" name="password" placeholder="password"></input>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>

