<h1> Wranglers </h1>
<table>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.id %></td>
      <td><%= comment.title %></td>
      <td><%= comment.content %></td>
    </tr>
  <% end %>
</table>

<h2> Create a new post </h2>

<div id="add">
  <form action="/topics" method="post">
    <textarea name="title" placeholder="Title of post&hellip;"></textarea>
    <textarea row="10" cols="50" name="content" placeholder="Add comment&hellip;"></textarea>
    <input type="submit" value="Submit">
  </form>
</div>